<div class="row">
    <div class="col-md-6 offset-md-3">
    <form [formGroup]="validator" (ngSubmit)="onSubmit()">
    <h4>Introduzca sus datos de registro</h4>
    <label>Correo Electrónico</label>
    <input type="email" id="inputEmail" class="form-control" 
    placeholder="nombre de usuario" formControlName="email">
    <label>Contraseña</label>
    <input type="password" id="inputPassword" class="form-control" 
    placeholder="Contraseña"    formControlName="password">
    <hr>
    <button type="submit" class="btn btn-primary">Registrar</button> 
    </form>
    </div>
   </div>
